body {
	text-align: center;
	-webkit-tap-highlight-color: transparent;
}

button {
	border: none;
	outline: none;
	cursor: pointer;
	background: rebeccapurple;
	color: white;
	padding: 18px 60px;
	border-radius: 2px;
	font-size: 22px;
}

// ripple defaults
$ripple-duration: .4s; // same as remRippleTimeout in js file
$ripple-color: #fff; // can be overwritten with data-ripple-color attr
$ripple-opacity: .3;

.ripple {
	overflow: hidden;
	position: relative;
}

.ripple-effect {
	position: absolute;
	border-radius: 50%;
	background: $ripple-color;
	opacity: $ripple-opacity;
	pointer-events: none;

	transition: opacity $ripple-duration ease-in;
	animation: scale-in $ripple-duration ease-out forwards;
}

.ripple-effect-out {
	opacity: 0;
}

@keyframes scale-in {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}